# Auto detect text files and perform LF normalization
* text=auto

# JS and TS files must always use LF for tools to work
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf

# CSS files must always use LF for tools to work
*.css text eol=lf
*.scss text eol=lf

# HTML files must always use LF for tools to work
*.html text eol=lf

# Markdown files must always use LF for tools to work
*.md text eol=lf

# Prisma files must always use LF for tools to work
*.prisma text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
*.pdf binary 